<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>网签后台系统</title>
    <meta http-equiv="Content-Type" content="text/html; charset=Utf-8">
    <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.js"></script><!--jquery支持,没这玩意下拉菜单没用,必须在前面-->
</head>
<body>
    <div>
        <a href="/web/templateManagement">
            <button >模板管理</button>
        </a>
        <a href="/web/review">
            <button >进入审核管理系统</button>
        </a>
        <a href="/web/contractList">
            <button >合同列表</button>
        </a>
        <a href="/web/supplier">
            <button >供货人信息查看</button>
        </a>

    </div>
</body>

</html>
