<!DOCTYPE HTML>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>网签后台系统</title>
    <meta http-equiv="Content-Type" content="text/html; charset=Utf-8">
<!--    <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.js"></script>-->
</head>
<body>
    <div>
        <a th:href="@{/web/templateManagement}">
            <button >模板管理</button>
        </a>
        <a th:href="@{/web/review}">
            <button >进入线下审核管理系统</button>
        </a>
        <a th:href="@{/web/reviewol}">
            <button >进入线上合同审核管理系统</button>
        </a>
        <a th:href="@{/web/contractList}">
            <button >合同列表</button>
        </a>
        <a th:href="@{/web/supplier}">
            <button >供货人信息查看</button>
        </a>

        <!--测试环境-->
<!--        <a href="/web/templateManagement">-->
<!--            <button >模板管理</button>-->
<!--        </a>-->
<!--        <a href="/web/review">-->
<!--            <button >进入审核管理系统</button>-->
<!--        </a>-->
<!--        <a href="/web/contractList">-->
<!--            <button >合同列表</button>-->
<!--        </a>-->
<!--        <a href="/web/supplier">-->
<!--            <button >供货人信息查看</button>-->
<!--        </a>-->
    </div>
</body>

</html>
