<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>网签线上合同审核系统</title>
    <link rel="stylesheet" type="text/css" th:href="@{/easyui/themes/default/easyui.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/easyui/themes/icon.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/easyui/themes/color.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/easyui/demo/demo.css}">
    <script type="text/javascript" th:src="@{/easyui/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/easyui/jquery.easyui.min.js}"></script>
    <script type="text/javascript" th:src="@{/easyui/locale/easyui-lang-zh_CN.js}"></script>
    <style type="text/css">
        .fitem label{
            display:inline-block;
            width:150px;
        }
        .fitem input{
            width:250px;
        }
    </style>
</head>

<body style="padding: 0px">
<table id="dg" title="审核列表" class="easyui-datagrid" style="width:100%;height:800px"
       pagination="true"
       striped="true"
       singleSelect="true"
       toolbar="#toolbar"
       url="getOrders?origin=0"
       rownumbers="true"
       fitColumns="true"
       fit="true"
       loadMsg="正在查询...">

    <thead>
    <tr>
        <th field="id" width="4%" >订单序号</th>
        <th field="orderNum" width="10%">委托收购协议号</th>
        <th field="createTime" width="8%">签订日期</th>
        <th field="status" width="5%" >审核状态</th>
        <th field="companyName" width="13%">甲方</th>
        <th field="supplierId" width="4%">供货人序号</th>
        <th field="supplierName" width="5%">供货人姓名</th>
        <th field="supplierIdNum" width="10%">供货人身份证号</th>
        <th field="bankName" width="4%" data-options="editor:'text'">开户行</th>
        <th field="branchBankName" width="6%" data-options="editor:'text'">支行</th>
        <th field="bankNum" width="10%">银行卡号</th>
        <th field="itemName" width="4%">品名</th>
        <th field="price" width="4%">价格</th>
        <th field="weight" width="4%">重量</th>
        <th field="startDate" width="7%">合同生效日期</th>
        <th field="endDate" width="7%">合同失效日期</th>
    </tr>
    </thead>
</table>


<div id="toolbar">
    <a  href="#" class="easyui-linkbutton" iconCls="icon-ok" plain="true" onclick="checkPass()">审核通过</a>
    <a  href="#" class="easyui-linkbutton" iconCls="icon-no" plain="true" onclick="checkNotPass()">审核不通过</a>
    <a  href="#" class="easyui-linkbutton" iconCls="icon-cancel" plain="true" onclick="checkDelete()">删除合同</a>
    <a  href="#" class="easyui-linkbutton" iconCls="icon-reload" plain="true" onclick="reload()">刷新列表</a>
    <a  href="#" class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="uploadStamp()">上传pdf文件</a>
    <a  href="#" class="easyui-linkbutton" iconCls="icon-search" plain="true" onclick="openPDF()">查看合同</a>
    <a  href="#" class="easyui-linkbutton" iconCls="icon-save" plain="true" onclick="downloadContract()">下载选中的合同</a>

    <form style="width: 100%">
        <label>供应商:</label>
        <select class="easyui-combobox" name="companySearch" id="companySearch"
                style="width:250px"
                data-options="valueField:'code',textField:'name',
                            url:'/hetong/web/getCompany',
                            editable:true">
        </select>
        <label>货物:</label>
        <select class="easyui-combobox" name="itemSearch" id="itemSearch" style="width:100px">
            <option>废纸</option>
            <option>废钢</option>
        </select>
        <label>审核状态:</label>
        <select class="easyui-combobox" name="statusSearch" id="statusSearch"
                style="width:100px">
        </select>
        <input id="fuzzySearch" class="easyui-textbox" style="width:250px" prompt="请输入关键字">
        <a  href="#" class="easyui-linkbutton" iconCls="icon-search" plain="true" onclick="searchInfo()">搜索</a>
    </form>
</div>

<!--确认框-->
<div id="checkPass" class="easyui-window" style="width:380px;padding:10px 40px" closed="true">
    <div>您确认要通过审核吗?</div>
    <div data-options="region:'south',border:false" style="text-align:center;padding:5px 0 0;">
        <a class="easyui-linkbutton" data-options="iconCls:'icon-ok'" href="javascript:void(0)" onclick="pass()" style="width:80px" handler>确认</a>
        <a class="easyui-linkbutton" data-options="iconCls:'icon-no'" href="javascript:void(0)" onclick="closePass()" style="width:80px">取消</a>
    </div>
</div>

<div id="checkNotPass" class="easyui-window" style="width:380px;padding:10px 40px" closed="true">
    <div>您确认要不通过审核吗?</div>
    <div data-options="region:'south',border:false" style="text-align:center;padding:5px 0 0;">
        <a class="easyui-linkbutton" data-options="iconCls:'icon-ok'" href="javascript:void(0)" onclick="notPass()" style="width:80px" handler>确认</a>
        <a class="easyui-linkbutton" data-options="iconCls:'icon-no'" href="javascript:void(0)" onclick="closeNotPass()" style="width:80px">取消</a>
    </div>
</div>

<div id="checkDelete" class="easyui-window" style="width:380px;padding:10px 40px" closed="true">
    <div>您确认要删除吗?</div>
    <div data-options="region:'south',border:false" style="text-align:center;padding:5px 0 0;">
        <a class="easyui-linkbutton" data-options="iconCls:'icon-ok'" href="javascript:void(0)" onclick="deleteOrder()" style="width:80px" handler>确认</a>
        <a class="easyui-linkbutton" data-options="iconCls:'icon-no'" href="javascript:void(0)" onclick="closeDelete()" style="width:80px">取消</a>
    </div>
</div>

<!--文件上传-->
<div id="uploadStamp" class="easyui-window" style="width:380px;padding:10px 40px" closed="true">
    <form id="stamp" method="post" enctype="multipart/form-data">
        <table border="0" style="margin-top:4px;" width="100%" align="center">
            <tr>
                <td>
                    <input class="easyui-filebox" name="upload" data-options="buttonText:'选择文件',prompt:'文件上传'" style="width:100%">
                </td>
            </tr>
        </table>
    </form>

    <div data-options="region:'south',border:false" style="text-align:center;padding:5px 0 0;">
        <a class="easyui-linkbutton" data-options="iconCls:'icon-ok'" href="javascript:void(0)" onclick="uploadonline('#stamp');" style="width:80px">上传</a>
    </div>
</div>



</body>

<script type="text/javascript">

    //默认选择
    $("#statusSearch").combobox({
        url: "/hetong/web/getContractStatus", //获取后台动作方法返回的json数据
        valueField: 'code',
        textField: 'status',
        panelHeight: "auto",
        editable: false, //不允许手动输入
    });


    //新增合同的状态选择
    $("#status").combobox({
        url: "/hetong/web/getContractStatusNew", //获取后台动作方法返回的json数据
        valueField: 'code',
        textField: 'status',
        panelHeight: "auto",
        editable: false, //不允许手动输入
        onLoadSuccess: function (data) {  //当成功加载数据后所引发的事件，data参数为 combobox中加载的值 以一个json类型的数组表示
            $('#status').combobox('setValue', data[0].id);//设置combobox中的首选项被选中
        }
    });

    //下载合同
    function downloadContract() {
        var row = $('#dg').datagrid('getSelected');
        var orderId=row.id;
        if (row){
            var url="/hetong/download?orderId="+orderId;
            window.open(url);
        }
    }

    //盖章
    function uploadStamp() {
        var row = $('#dg').datagrid('getSelected');
        var template=row.templateId;
        if(row)
        {
            if(row.status!=="待盖章"&&template!=null)
            {
                $.messager.confirm('提示',"状态为待盖章的才可以上传盖章文件",function(r){
                });
            }else
            {
                $('#uploadStamp').window('open').dialog('setTitle','盖章文件上传');
            }
        }
        else
        {
            $.messager.confirm('提示',"请选择合同",function(r){
            });
        }

    }

    //上传盖章文件
    function uploadonline(id) {
        var row = $('#dg').datagrid('getSelected');
        var orderId=row.id;
        var template=row.templateId;

        if(row.status!=="待盖章"&&template!=null)
        {
            $.messager.confirm('提示',"状态为待盖章的才可以上传盖章文件",function(r){
            });
        }
        else
        {
            var add="/hetong/web/uploadContractFile?id="+orderId;
            $(id).form('submit',{
                url: add,
                onSubmit: function(){
                },
                success: function(result){
                    reload();
                    var result = eval('('+result+')');
                    if (result.status==200){
                        $('#uploadonlineinfo').window('close');
                        $('#dg2').datagrid('reload');
                        $.messager.show({
                            title: 'Success',
                            msg: '上传成功'
                        });
                        $('#uploadStamp').dialog('close');
                    } else {
                        $.messager.show({
                            title: 'Error',
                            msg: result.message
                        });
                    }
                }
            });
        }
    }

    //通过审核
    function checkPass()
    {
        var row = $('#dg').datagrid('getSelected');
        if (row) {
            $.messager.confirm('提示', '您确定要通过审核吗?', function(r) {
                if (r) {
                    var id=row.id;
                    if(row.status!=="待审核")
                    {
                        $.messager.confirm('提示',"状态为待审核的才可以通过",function(r){
                        });
                    }
                    $.ajax({
                        url:"/hetong/web/passOrder",
                        type:"post",
                        data:{
                            id:id,
                        },
                        datatype:"josn",
                        success:function(result){
                            $('#dg').datagrid('reload');
                            $('#checkPass').dialog('close');
                            $.messager.confirm('提示',result.data,function(r){
                            });
                        }
                    });
                }
            });
        }
    }

    function closePass() {
        $('#checkPass').dialog('close');
    }

    function pass() {
        var row = $('#dg').datagrid('getSelected');
        if (row){
            var id=row.id;
            if(row.status!=="已提交")
            {
                $.messager.confirm('提示',"状态为已提交的才可以通过",function(r){
                });
            }
            $.ajax({
                url:"/hetong/web/passOrder",
                type:"post",
                data:{
                    id:id,
                },
                datatype:"josn",
                success:function(result){
                    $('#dg').datagrid('reload');
                    $('#checkPass').dialog('close');
                }
            });
        }
    }

    //不通过审核
    function checkNotPass()
    {
        var row = $('#dg').datagrid('getSelected');
        if (row) {
            $.messager.confirm('提示', '您确定要不通过审核吗?', function(r) {
                if (r) {
                    var id=row.id;
                    $.ajax({
                        url:"/hetong/web/notPassOrder",
                        type:"post",
                        data:{
                            id:id,
                        },
                        datatype:"josn",
                        success:function(result){
                            $('#dg').datagrid('reload');
                            $('#checkNotPass').dialog('close');
                        }
                    });
                }
            });
        }
    }

    function closeNotPass() {
        $('#checkNotPass').dialog('close');
    }

    function notPass() {
        var row = $('#dg').datagrid('getSelected');
        if (row){
            var id=row.id;
            $.ajax({
                url:"/hetong/web/notPassOrder",
                type:"post",
                data:{
                    id:id,
                },
                datatype:"josn",
                success:function(result){
                    $('#dg').datagrid('reload');
                    $('#checkNotPass').dialog('close');
                }
            });
        }
    }

    //删除记录
    function checkDelete()
    {
        // $('#checkDelete').window('open').dialog('setTitle','操作确认');
        var row = $('#dg').datagrid('getSelected');
        if (row) {
            $.messager.confirm('提示', '您确定要删除该记录吗?', function(r) {
                if (r) {
                    var id=row.id;
                    $.ajax({
                        url:"/hetong/web/deleteOrder",
                        type:"post",
                        data:{
                            id:id,
                        },
                        datatype:"josn",
                        success:function(result){
                            $('#dg').datagrid('reload');
                            $('#checkDelete').dialog('close');
                        }
                    });
                }
            });
        }
    }

    function closeDelete() {
        $('#checkDelete').dialog('close');
    }

    function deleteOrder() {
        var row = $('#dg').datagrid('getSelected');
        if (row){
            var id=row.id;
            $.ajax({
                url:"/hetong/web/deleteOrder",
                type:"post",
                data:{
                    id:id,
                },
                datatype:"josn",
                success:function(result){
                    $('#dg').datagrid('reload');
                    $('#checkDelete').dialog('close');
                }
            });
        }
    }
    //刷新
    function reload() {
        $('#dg').datagrid('reload');
    }

    //查看合同
    function openPDF()
    {
        var row = $('#dg').datagrid('getSelected');
        var orderId=row.id;
        if (row){
            var url="/hetong/download?orderId="+orderId+"&model=0";
            window.open(url);
        }
    }

    //搜索
    function searchInfo() {
        var company=$("#companySearch").combobox("getText");
        var status=$("#statusSearch").combobox("getText");
        var item=$("#itemSearch").combobox("getText");
        var info=document.getElementById("fuzzySearch").value;
        var page = $("#dg").datagrid('options').pageNumber;
        var rows = $("#dg").datagrid('options').pageSize;
        var options = $('#dg').datagrid('getPager').data("pagination").options;
        //总记录数
        var total = options.total;
        $('#dg').datagrid('loading');
        $.ajax({
            url:"/hetong/web/searchOrder",
            type:"post",
            data:JSON.stringify(
                {
                    total:total,
                    page:page,
                    rows:rows,
                    status:status,
                    item:item,
                    company:company,
                    info:info,
                    origin:0,
                }
            ),
            datatype:"josn",
            contentType:"application/json",
            success:function(result){
                if(result.status===200)
                {
                    $('#dg').datagrid('loaded');
                    $('#dg').datagrid('loadData',result.data);
                }
                else
                {
                    $('#dg').datagrid('loaded');
                    $.messager.confirm('提示',result.message,function(r){
                    });
                }

            }
        });

    }

</script>

</html>