<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>网签审核系统</title>
    <link rel="stylesheet" type="text/css" href="/easyui/themes/default/easyui.css">
    <link rel="stylesheet" type="text/css" href="/easyui/themes/icon.css">
    <link rel="stylesheet" type="text/css" href="/easyui/themes/color.css">
    <link rel="stylesheet" type="text/css" href="/easyui/demo/demo.css">
    <script type="text/javascript" src="/easyui/jquery.min.js"></script>
    <script type="text/javascript" src="/easyui/jquery.easyui.min.js"></script>
    <link type="text/css" rel="stylesheet" charset="UTF-8" href="/easyui/locale/easyui-lang-zh_CN.js">
</head>

<body>
<table id="dg" title="供货人列表" class="easyui-datagrid" style="width:100%;height:800px"
       toolbar="#toolbar"
       url="/web/getSuppliers"
       rownumbers="true"
       fitColumns="true"
       singleSelect="true"
       loadMsg="正在查询...">
    <thead>
    <tr>
        <th field="id" width="5%" >供货人序号</th>
        <th field="idNum" width="10%" >身份证号</th>
        <th field="password" width="10%" data-options="editor:'text'">密码</th>
        <th field="phoneNum" width="10%" data-options="editor:'text'">手机号</th>
        <th field="name" width="5%" data-options="editor:'text'">姓名</th>
        <th field="homeAddress" width="10%" data-options="editor:'text'">住址</th>
        <th field="birth" width="10%" >出生日期</th>
        <th field="agencies" width="10%" data-options="editor:'text'">发证机关</th>
        <th field="sex" width="5%" data-options="editor:'text'">性别</th>
        <th field="ethnic" width="5%" data-options="editor:'text'">民族</th>
        <th field="updateTime" width="20%" data-options="editor:'text'">信息更新日期</th>
    </tr>
    </thead>
</table>
<div id="toolbar">
    <a  href="#" class="easyui-linkbutton" iconCls="icon-reload" plain="true" onclick="reload()">刷新</a>
</div>
</body>
<script type="text/javascript">
    //刷新
    function reload() {
        $('#dg').datagrid('reload');
    }
</script>


<!--表格可编辑-->
<!--<script type="text/javascript">-->
<!--    $.extend($.fn.datagrid.methods, {-->
<!--        editCell: function (jq, param) {-->
<!--            return jq.each(function () {-->
<!--                var opts = $(this).datagrid('options');-->
<!--                var fields = $(this).datagrid('getColumnFields', true).concat($(this).datagrid('getColumnFields'));-->
<!--                for (var i = 0; i < fields.length; i++) {-->
<!--                    var col = $(this).datagrid('getColumnOption', fields[i]);-->
<!--                    col.editor1 = col.editor;-->
<!--                    if (fields[i] != param.field) {-->
<!--                        col.editor = null;-->
<!--                    }-->
<!--                }-->
<!--                $(this).datagrid('beginEdit', param.index);-->
<!--                for (var i = 0; i < fields.length; i++) {-->
<!--                    var col = $(this).datagrid('getColumnOption', fields[i]);-->
<!--                    col.editor = col.editor1;-->
<!--                }-->
<!--            });-->
<!--        }-->
<!--    });-->

<!--    var editIndex = undefined;-->
<!--    function endEditing() {-->
<!--        if (editIndex == undefined) { return true }-->
<!--        if ($('#dg').datagrid('validateRow', editIndex)) {-->
<!--            $('#dg').datagrid('endEdit', editIndex);-->
<!--            editIndex = undefined;-->
<!--            return true;-->
<!--        } else {-->
<!--            return false;-->
<!--        }-->
<!--    }-->
<!--    function onClickCell(index, field) {-->
<!--        if (endEditing()) {-->
<!--            $('#dg').datagrid('selectRow', index)-->
<!--                .datagrid('editCell', { index: index, field: field });-->
<!--            editIndex = index;-->
<!--        }-->
<!--    }-->
<!--</script>-->
</html>